<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-compatible" content="ie=edge" content="chrome=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/main.css') }}">
    <title>Newlyweds</title>
</head>
<body>
    <header>
        <div class="top-nav">
            <h2>
                Newlyweds Game
            </h2>
        </div>
    </header>
    <section>
        <form action="on_answers" method="POST">
            <div class="form-group">
              <label for="question1">Question 1: <br> Where did yall meet?</label>
              <input type="password" class="form-control" name="question1" required>
            </div>
            <div class="form-group">
              <label for="question2">Question 2: <br> Who said "I Love You" first?</label>
              <input type="password" class="form-control" name="question2" required>
            </div>
            <div class="form-group">
                <label for="question3">Question 3: <br> Who is the most cranky in the morning?</label>
                <input type="password" class="form-control" name="question3" required>
            </div>
            <div class="form-group">
                <label for="question4">Question 4: <br> What is your worst habit?</label>
                <input type="password" class="form-control" name="question4" required>
            </div>
            <div class="form-group">
                <label for="question5">Question 5: <br>What is your Zodiak sign?</label>
                <input type="password" class="form-control" name="question5" required>
            </div>
            <div class="form-group">
                <label for="question6">Question 6: <br>What is your Dream Car?</label>
                <input type="password" class="form-control" name="question6" required>
            </div>
            <div class="form-group">
                <label for="question7">Question 7: <br> What is your favorite Movie?</label>
                <input type="password" class="form-control" name="question7" required>
            </div>
            <div class="form-group">
                <label for="question8">Question 8: <br> what is your shoe size?</label>
                <input type="password" class="form-control" name="question8" required>
                <small>please write number out</small>
            </div>
            <div class="form-group">
                <label for="question9">Question 9: <br>What is the thing you're most likely to go viral for?</label>
                <input type="password" class="form-control" name="question9" required>
            </div>
            <div class="form-group">
                <label for="question10">Question 10: <br>Who will be the most hungover after the wedding?</label>
                <input type="password" class="form-control" name="question10"required>
            </div>
            <button type="submit">Test Your lover</button>
        </form>
    </section>
    <footer class="copyright">
        <p>&copy; 2020 Brian Shockency</p>
    </footer>

     <!-- Jquery , Popper.js, bootstrap JS  -->
     <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
     <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
     <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script> 
</body>
</html>